.theme {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#light {
    background-color: #FAFAFA;
    transition: all 0.5s ease;
}

#dark {
    background-color: #0d1117;
    transition: all 0.5s ease;
}