body {
  margin: 0;
  background-color: #FAFAFA;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.nav a {
  color: #ede7f6;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 15px;
  text-decoration: none;
}

#dark .nav a {
  color: #c9d1d9;
}

.nav a.active {
  color: #ec407a;
}

#dark .nav a.active {
  color: #ec407a;
}

.header_link {
  border: none;
  outline: none;
  cursor: pointer;
  color: #343d48;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 15px;
  background-color: inherit;
}

.selected_row {
  background: #0000000a;
}

.primary_label {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #24292f;
  line-height: 1.4375em;
}

#dark .primary_label {
  color: #c9d1d9;
}

.card_label {
  margin: 0px;
  font-size: 14px;
  color: #57606a;
  font-weight: 400;
  line-height: 1.5;
}

#dark .card_label {
  color: #8b949e;
}

.card_prices {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #24292f;
}

#dark .card_prices {
  color: #c9d1d9;
}

/* Scrollbar styling */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #afb8c133 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb8c133;
  border-radius: 20px;
}